@{
    ViewData["Title"] = "Mon portfolio";
}



<article class="articlePresentation">
    <section class="presentationText">
        <h1>Bonjour, je suis <br /> Thomas BUREAU DU COLOMBIER</h1>
        <span>Voici mon portfolio, réalisé en ASP.NET CORE</span>
    </section>
</article>

<article class="light">
    <div class="flexible-center">
        <section>
            <h2>Qui suis-je ?</h2>
            <img style="max-width:100px;"  src="~/img/sleppMan.png" />
            <p>
                Ayant commencé ma vie professionnelle en 2017, j'ai eu la chance de travailler en tant que développeur sur des projets conséquents, mais aussi de m'occuper aussi de leurs gestion. De la récupération du besoin avec le client jusqu'au développement, aborder toutes les étapes de création est ce qui rends ce métier exceptionnel pour moi. Techniquement, j'aime apprendre et je n'ai pas froids aux yeux, donc j'espère réduire au maximum ma marge de progression.
            </p>
        </section>
    </div>
</article>

<article class="dark">
    <h2>Vous avez forcément besoin de moi</h2>
    <i>(enfin c'est ce que ma mère me dit)</i>

    <h3 class="secondTitre">Je suis à la recherche de :</h3>
    <div class="flexible-center">
        <section>
            <h4>Un stage</h4>
            <img style="max-width:100px;" src="~/img/contactMan.png" />
            <p>La description de votre stage</p>

        </section>
        <section>
            <h4>Un emploi de rêve</h4>
            <img style="max-width:100px;" src="~/img/sportMan.png" />

            <p>La description de votre emploi de rêve</p>

        </section>
        <section>
            <div>
                <h4>Un patron de rêve</h4>
                <i>(c'est pour vous accorder avec votre stagiaire de rêve)</i>
            </div>
            <img style="max-width:100px;" src="~/img/codeur.png" />
            <p>Je crois que c'est vous non ?</p>
        </section>
    </div>
</article>

<article class="light">
    <h2>Mon expérience</h2>
    <div class="flexible-center">
        <section>
            <ul>
                    <li>
                        Emploi fictif
                    </li>
                    <li>
                        Emploi
                    </li>
                    <li>
                        Stage fictif
                    </li>
                    <li>
                        Stage
                    </li>
                </ul>
        </section>
    </div>
</article>

<article class="dark">
    <h2>Contact</h2>

    <form action="/Home/EnvoyerMail" method="post">
        <div class="form-field">
            <label for="nom">Merci de me donner votre nom</label>
            <input id="nom" type="text" placeholder="Votre nom" />
        </div>
        <div class="form-field">
            <label for="mail">Merci de me donner votre mail</label>
            <input id="mail" type="email" placeholder="ex : mail@gmail.com" />
        </div>
        <div class="form-field">
            <label for="message">Quel est votre message ?</label>
            <textarea maxlength="100" id="message" type="email" placeholder="Votre message"></textarea>
        </div>
        <div class="form-field">
            <input class="bouton-portfolio" type="submit" value="Envoyer"/>
        </div>
    </form>

</article>
