@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}


<h1>Bienvenue sur mon Blog !</h1>
<p>Vous découvrirez ici différents articles issus de mes recherches sur l'IT :)</p>